<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Network Library=DBMSSOCN;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <add name="connStrings" connectionString="data source=192.168.1.33,1433;Network Library=DBMSSOCN;Initial Catalog=Sales;User ID=sa;Pwd=123456"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
